.screen {
  background: radial-gradient(rgba(47, 21, 176, 1), rgba(106, 70, 165, 1));
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  /* background-color: var(--form-control); */

  text-align: center;
  padding: 23px 0;
}
.logo {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0 auto;
  margin-top: 0px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
}

.login {
  position: relative;
}

.login__field {
  padding-bottom: 26px;
  position: relative;
}

.password_srtength {
  width: 286px;
  height: 4px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22px;
  margin-bottom: 24px;
  transition: width 0.5s ease-in-out;
}

.icon_user {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_lock {
  width: 22px;
  height: 22px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_email {
  width: 24px;
  height: 16px;
  margin-top: 14px;
  margin-left: 8px;
  position: absolute;
}

.login__input {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  padding: 10px;
  padding-left: 58px;
  font-size: 18px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  width: 216px;
  min-width: 216px;
  transition: 0.2s;
  position: relative;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 18px;
  margin-top: 11px;
  padding: 12px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--main-text-color);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover,
.login__link:active,
.login__link:hover,
.login__link:focus {
  scale: 0.99;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

.login__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: var(--main-text-color);
  font-size: 18px;
  margin-top: 24px;
  padding: 14px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--text-button);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.error_message {
  color: rgb(162, 68, 68);
  margin-top: -14px;
}

.logoSvg {
  height: 26px;
  width: 26px;
}
@media (min-width: 768px) {
  .wrapper {
    background: url(../../img/desktop/golden-coins-background-left-desktop.png)
        left,
      url(../../img/desktop/golden-coins-background-right-desktop.png) right,
      linear-gradient(rgba(46, 23, 70, 1), rgba(106, 70, 165, 1));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
  }
  .screen {
    width: 533px;
    border-radius: 6px;
    padding: 40px 0;
    opacity: 0.8;
  }
  .title {
    font-size: 27px;
  }
  .logoSvg {
    width: 40px;
    height: 40px;
  }

  .login__input {
    padding: 12px;
    padding-left: 58px;
    font-size: 18px;
    width: 340px;
    min-width: 216px;
  }
  .login__submit {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .login__link {
    width: 300px;
  }
  .password_srtength {
    width: 410px;
  }
}
