.container {
  padding: 0 20px;
}
.screen {
  background: radial-gradient(rgba(60, 40, 160, 1), rgba(68, 53, 110, 1));
  text-align: center;
  padding: 23px 0;
}
.logo {
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin: 0 auto;
  margin-top: 0px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
}
.login__field {
  padding-bottom: 26px;
}
.password_srtength {
  width: 280px;
  height: 4px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22px;
  margin-bottom: 24px;
  transition: width 0.5s ease-in-out;
}

.icon_user {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_lock {
  width: 22px;
  height: 22px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_email {
  width: 24px;
  height: 16px;
  margin-top: 14px;
  margin-left: 8px;
  position: absolute;
}

.login__input {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  padding: 10px;
  padding-left: 58px;
  font-size: 18px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  width: 280px;
  min-width: 280px;
  transition: 0.2s;
  position: relative;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 18px;

  margin-top: 11px;
  padding: 15px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--main-text-color);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover,
.login__link:active,
.login__link:hover,
.login__link:focus {
  scale: 0.99;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

.login__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: var(--main-text-color);
  font-size: 18px;
  margin-top: 24px;
  padding: 15px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--text-button);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  opacity: 1;
}

.error_message {
  color: rgb(162, 68, 68);
  margin-top: -14px;
}

.logoSvg {
  height: 26px;
  width: 26px;
}
@media (min-width: 768px) {
  .wrapper {
    height: 100%;
    width: 100vw;
    background: url(../../img/tablet/dollars-background-all-tablet.png),
      radial-gradient(at 18% 99%, rgba(111, 50, 145, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(100, 41, 146) 0px, transparent 50%) repeat
        scroll 0% 0%,
      radial-gradient(at 79% 82%, rgba(18, 17, 20) 0px, transparent 60%) repeat
        scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      rgba(36, 34, 99, 1)
        radial-gradient(
          at 57% 33%,
          rgba(96, 55, 169, 1) 0px,
          rgb(22, 21, 61) 50%
        )
        repeat scroll 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    height: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background: url(../../img/tablet/dollars-background-all-2x@tablet.png),
        radial-gradient(at 18% 99%, rgba(111, 50, 145, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 97% 8%, rgba(100, 41, 146) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 79% 82%, rgba(18, 17, 20) 0px, transparent 60%)
          repeat scroll 0% 0%,
        radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        rgba(36, 34, 99, 1)
          radial-gradient(
            at 57% 33%,
            rgba(96, 55, 169, 1) 0px,
            rgb(22, 21, 61) 50%
          )
          repeat scroll 0% 0%;
    }
  }
  .screen {
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    width: 533px;
    border-radius: 8px;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-size: 27px;
  }
  .logoSvg {
    width: 40px;
    height: 40px;
  }

  .login__input {
    padding: 12px;
    padding-left: 58px;
    font-size: 18px;
    width: 410px;
    min-width: 410px;
  }
  .login__submit {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 0px;
  }
  .login__link {
    width: 300px;
    padding: 15px 0px;
  }
  .password_srtength {
    width: 410px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    height: 100%;
    width: 100vw;
    background: url(../../img/desktop/dollars-background-left-desktop.png) left,
      url(../../img/desktop/dollars-background-right-desktop.png) right,
      radial-gradient(at 18% 99%, rgba(111, 50, 145, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 97% 8%, rgba(100, 41, 146) 0px, transparent 50%) repeat
        scroll 0% 0%,
      radial-gradient(at 79% 82%, rgba(18, 17, 20) 0px, transparent 60%) repeat
        scroll 0% 0%,
      radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%)
        repeat scroll 0% 0%,
      rgba(36, 34, 99, 1)
        radial-gradient(
          at 57% 33%,
          rgba(96, 55, 169, 1) 0px,
          rgb(22, 21, 61) 50%
        )
        repeat scroll 0% 0%;

    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    padding: 40px 0px 40px 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background: url(../../img/desktop/dollars-background-left-2x@desktop.png)
          left,
        url(../../img/desktop/dollars-background-right-2x@desktop.png) right,
        radial-gradient(at 18% 99%, rgba(111, 50, 145, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 97% 8%, rgba(100, 41, 146) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 79% 82%, rgba(18, 17, 20) 0px, transparent 60%)
          repeat scroll 0% 0%,
        radial-gradient(at 96% 10%, rgba(35, 27, 58, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 42% 20%, rgba(42, 28, 134, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        radial-gradient(at 1% 79%, rgba(37, 33, 80, 1) 0px, transparent 50%)
          repeat scroll 0% 0%,
        rgba(36, 34, 99, 1)
          radial-gradient(
            at 57% 33%,
            rgba(96, 55, 169, 1) 0px,
            rgb(22, 21, 61) 50%
          )
          repeat scroll 0% 0%;
    }
  }
}
