.navList {
  display: flex;
  gap: 32px;
  justify-content: center;
  width: 320px;
}
.nav {
  padding: 12px 0 0 0;
}

.navList {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navIcon {
  fill: rgba(255, 255, 255, 0.6);
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 8px;
}

.navLink:hover .navIcon,
.navLink:focus .navIcon {
  fill: #4a56e2;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 50%,
    rgba(1, 9, 90, 0.1) 30%
  );
}

.navText {
  display: none;
}

.navLink:hover .navText,
.navLink:focus .navText {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 40px;
  }
  .navList {
    flex-direction: column;
    gap: 12px;
  }

  .navLink {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 140px;
  }

  .navText {
    display: inline-block;
    color: var(--main-text-color);
    font-size: 18px;
  }

  .navIcon {
    border-radius: 4px;
    width: 24px;
    height: 24px;
  }

  .hiddenItem {
    display: none;
  }
}
