.diagram {
  width: 360px;
  padding: 0 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}
.statistics {
  color: #fbfbfb;
  text-align: center;
  font: 400 30px 'Poppins', sans-serif;
  text-align: left;
}
.selectWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 16px;
}
.select {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .diagram {
    width: 768px;
    flex-direction: row;
  }
  .selectWrapper {
    width: 336px;
    flex-direction: row;
  }
  .statistics {
    margin-top: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .diagram {
    padding-top: 97px;
    width: 768px;
  }
  .selectWrapper {
    width: 395px;
  }
  .statistics {
    margin-top: -65px;
  }
}
