.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.modal {
    background-color: rgba(255, 255, 255, 0.49);
    padding: 28px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 100%;
}

.transactionChoice{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.form{
    display: flex;
    flex-direction: column;
}

.formBlock {
    display: flex;
    flex-direction: column;
}


/*===================SWITCH==================*/
/* .checkbox {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    /* width: 60px; */
    height: 40px;
    /* height: 34px; */
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff1f1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.choiceBtn {
    position: absolute;
    /* content: ""; */
    /* height: 44px; */
    /* width: 44px; */
    left: -19px;
    bottom: -26px;
    /* background-color: rgba(255, 182, 39, 1); */
    -webkit-transition: .4s;
    transition: .4s;
    /* border-radius: 50%; */
}
/* .slider:before {
    position: absolute;
    content: "";
    height: 44px;
    width: 44px;
    left: -4px;
    bottom: -2px;
    background-color: rgba(255, 182, 39, 1);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
} */

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+ .slider>.choiceBtn {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
}

/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
} */

/* .slider.round:before {
    border-radius: 50%;
} */

@media screen and (min-width: 767.99px) {
    .modal {
        min-width: 540px;
        min-height: 511px;
    }
}

/* desktop */

@media screen and (min-width: 1199.99px) {
    
}