.homeTab {
  background-image: linear-gradient(to bottom, #937eff, #b45af0),
    radial-gradient(circle, #512da8, #311b92);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  /* width: 50%; */
}

@media screen and (min-width: 768px) {
  .homeTab {
    padding-top: 40px;
  }
}
