.header {
  padding: 12px 0;
  background-image: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25),
    0px -3px 2px 0px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.6);
}

.header > div {
  display: flex;
  align-items: center;
}

.logo {
  text-align: center;
}

.logoSvg {
  width: 18px;
  height: 18px;
}

.logoText {
  display: block;
  color: #fbfbfb;
  font-size: 12px;
}

.headerLeft {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.name {
  font-family: Circe;
  font-size: 18px;
}

.hiddenExit {
  display: none;
}

.verticalLine {
  display: none;
}

.iconExit {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  fill: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 16px 0;
  }

  .logoSvg {
    width: 24px;
    height: 24px;
  }

  .logoText {
    font-size: 18px;
  }

  .verticalLine {
    display: block;
    height: 30px;
    margin-left: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
  }
  .hiddenExit {
    font-size: 18px;
    font-family: Circe;
    display: block;
    margin-left: 8px;
  }

  .name {
    font-size: 18px;
  }

  .iconExit {
    margin-left: 12px;
  }
}
