@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --mainGradient: linear-gradient(
    207deg,
    rgba(52, 31, 160, 0.8) 0%,
    rgba(80, 48, 154, 0.7) 35.94%,
    rgba(106, 70, 165, 0.52) 61.04%,
    rgba(133, 93, 175, 0.13) 100%
  );
  --secondaryGradient: linear-gradient(
    360deg,
    rgba(83, 61, 186, 0.7) 44.63%,
    rgba(101, 35, 146, 0.8) 88.57%
  );
}
.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal {
  position: absolute;
  border-radius: 8px;
  padding: 32px 20px 32px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  background: radial-gradient(rgba(60, 40, 160, 1), rgba(68, 53, 110, 1));
}
@media screen and (max-width: 320px) {
  .modal {
    min-width: 100%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: #fbfbfb;
  font-weight: 400;
}

.toggle {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  color: rgba(224, 224, 224, 1);
}
.orangeToggle {
  color: rgba(255, 182, 39, 1);
}
.pinkToggle {
  color: rgba(255, 134, 141, 1);
}
.orangeToggle:focus:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: rgba(255, 182, 39, 1);
}
.pinkToggle:focus:hover {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: rgba(255, 134, 141, 1);
}

.toggleContainer {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.slash {
  color: rgba(255, 255, 255, 0.4);
}

.inputForm {
  position: relative;
}
.inputComment {
  min-width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: calc(27 / 18);
  padding: 8px 20px;
  padding-bottom: 52px;
  background: none;
  color: rgba(251, 251, 251, 1);
  transition: 0.2s;
  position: relative;
}

.inputLine {
  min-width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: calc(27 / 18);
  padding: 8px 20px;
  background: none;
  color: rgba(251, 251, 251, 1);
  transition: 0.2s;
  position: relative;
}
.inputLine:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.btnSave {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 280px;
  height: 50px;
  padding: 13px 115px 13px 115px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: calc(27 / 18);
  color: #fbfbfb;
  background-image: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.btnSave:active,
.btnSave:focus,
.btnSave:hover,
.btnSave:active,
.btnSave:hover,
.btnSave:focus {
  scale: 0.99;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

.btnCancel {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 280px;
  height: 50px;
  padding: 13px 115px 13px 115px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: calc(27 / 18);
  background-color: #fbfbfb;
  color: #623f8b;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.btnCancel:active,
.btnCancel:focus,
.btnCancel:hover,
.btnCancel:active,
.btnCancel:hover,
.btnCancel:focus {
  scale: 0.99;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

/* input:checked + .toggleSlider {
  background-color: #2196f3;
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .toggleSlider:before {
  transform: translateX(26px);
  transition: transform 0.4s;
} */

.formBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.closeBtn {
  display: none;
}
@media screen and (min-width: 767.99px) {
  .modal {
    background: radial-gradient(rgba(60, 40, 160, 1), rgba(68, 53, 110, 1));

    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 540px;
    padding: 40px 73px;
  }

  .formBlock {
    flex-direction: row;
    gap: 32px;
  }

  .title {
    font-size: 30px;
  }

  .inputLine {
    font-size: 18px;
    min-width: 216px;
  }
  .inputComment {
    padding: 8px 20px;
  }
  .btnSaveCancel {
    width: 300px;
  }
  .closeBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fbfbfb;
    background-color: transparent;
    border: none;
  }

  .closeBtn:hover,
  .btnAdd:focus {
    scale: 1.1;
  }
}
/* inputLine.react-datetime-picker {
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/date_range/v11/24px.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 24px;
  padding-left: 40px;
} */
.cssB1qh8zInput {
  display: none;
}
