.currencyheader {
    max-width: 100%;
    width: 320px;
    text-align: center;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--linear-gradient-light)
}