.currencytable {
    min-width: 100%;
    text-align: center;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    border: none
}

.currency{
    background-image: linear-gradient(to bottom, #937eff, #b45af0), radial-gradient(circle, #512da8, #311b92);
        background-repeat: no-repeat;
        background-size: cover;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}

thead {
    height: 50px;
        padding: 0;
            background-color: rgba(255, 255, 255, 0.20);
}
tr > td {
    border-top: 8px solid transparent;
}

th,
td {
    width: 33.33%;
}

td {
    font-weight: 400;
}

.iconRateGraph {
    display: block;
    width: 320px;
    height: 70px;
    flex-shrink: 0;
    fill:rgba(255, 255, 255, 0.20)
}

.classNameOutline {
    width: 320px;
    height: 100px;
    flex-shrink: 0;
}