.balanceBox {
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  width: 280px;
  padding: 8px 32px 12px 32px;
  margin: 12px 0 0;
}

.balanceTitle {
  font-size: 12px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.balance {
  color: var(--main-text-color);
  font-size: 30px;
  font-weight: 600;
}

.uah {
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .balanceBox {
    margin-top: 28px;
    width: 336px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceBox {
    margin-top: 28px;
    width: 480px;
    border-radius: 0;
    padding-left: 56px;
    padding-right: 56px;
  }
}