@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('opentype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'), url(./fonts/Poppins-SemiBold.ttf) format('opentype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('opentype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
  }

html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #101010;
  --main-text-color:#FBFBFB;
--small-form-control: rgba(83, 61, 186, 1),
  rgba(80, 48, 154, 1),
  rgba(106, 70, 165, 1),
  rgba(133, 93, 175, 1);
  --text-button: rgba(98, 63, 139, 1);
  --form-control: rgba(255, 255, 255, 0.1);
  --white-40-percent: rgba(255, 255, 255, 0.4);
  --white-60-percent: rgba(255, 255, 255, 0.6);
--yellow: rgba(255, 182, 39, 1);
--graph-green: rgba(0, 173, 132, 1);
--graph-light-green: rgba(36, 204, 167, 1);
--graph-blue:  rgba(74, 86, 226, 1);
--graph-light-blue: rgba(129, 225, 255, 1);
--graph-purple: rgba(197, 186, 255, 1);
--graph-peach: rgba(253, 148, 152, 1);
--graph-yellow: rgba(254, 208, 87, 1);
--graph-pale: rgba(255, 216, 208, 1),;
--linear-gradient-light: rgba(109, 84, 235, 1),
  rgba(101, 35, 146, 1);
  --linear-gradient-dark: rgba(46, 23, 70, 1),
    rgba(46, 34, 95, 1);
--linear-gradient-medium: rgba(52, 31, 160, 1),
  rgba(101, 35, 146, 1);
  --linear-gradient-white: rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 374.98px) {
  .container {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 0 32px;
  }
}

/* desktop */

@media screen and (min-width: 1200px) {
  .container {
    width: 1248px;
    padding: 0 16px;
  }
}