.screen {
  background: linear-gradient(
    rgba(83, 61, 186, 1),
    rgba(80, 48, 154, 1),
    rgba(106, 70, 165, 1),
    rgba(133, 93, 175, 1)
  );
  /* background-color: var(--form-control); */

  text-align: center;
  padding: 23px 0;
}
.logo {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0 auto;
  margin-top: 0px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
}

.login {
  position: relative;
}

.login__field {
  padding-bottom: 26px;
  position: relative;
}

.strong_passworg {
  width: 286px;
  height: 4px;
  border-radius: 6px;
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
  margin-top: -22px;
  margin-bottom: 24px;
}

.icon_user {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_lock {
  width: 22px;
  height: 22px;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
}
.icon_email {
  width: 24px;
  height: 16px;
  margin-top: 14px;
  margin-left: 8px;
  position: absolute;
}

.login__input {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background: none;
  padding: 10px;
  padding-left: 58px;
  font-size: 18px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  width: 216px;
  min-width: 216px;
  transition: 0.2s;
  position: relative;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 18px;
  margin-top: 11px;
  padding: 12px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--main-text-color);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  background-color: #9e40ba;
}

.login__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: var(--main-text-color);
  font-size: 18px;
  margin-top: 24px;
  padding: 14px 0px;
  border-radius: 20px;
  border: none;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 280px;
  color: var(--text-button);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
.input_wrapper {
  position: relative;
}

.error_wrapper {
  position: relative;
}
.error_message_name {
  position: absolute;
  top: -100px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 46px;
  color: #4c489d;
  background-color: #fff;
  border: 1px solid #4c489d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}
.error_message_email {
  position: absolute;
  top: -20px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 46px;
  color: #4c489d;
  background-color: #fff;
  border: 1px solid #4c489d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}
.error_message_password {
  position: absolute;
  top: 124px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 46px;
  color: #4c489d;
  background-color: #fff;
  border: 1px solid #4c489d;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}
.logoSvg {
  height: 26px;
  width: 26px;
}
/* 
.strength-indicator {
  display: flex;
  justify-content: space-between;
  height: 10px;
  margin-top: 10px; */
/* } */

/* .strength-indicator__bar {
  flex-grow: 1;
  height: 100%;
}

.strength-indicator__bar--weak {
  background-color: red;
}

.strength-indicator__bar--medium {
  background-color: orange;
}

.strength-indicator__bar--strong {
  background-color: green;
} */
